<p-panel header="Pipes Basicos" class="p-2">
  
  <p>
    Pipes incluídos en Angular - Usualmente en el Common Module
  </p>
</p-panel>

<div class="grid">
  <!-- Cambia letra a mayuscula -->
 
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{ nameLower | uppercase}}
    </p-card>
  </div>

 <!--  //Cambia letra a minuscula  -->
  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{ nameUpper | lowercase}}
    </p-card>
  </div>

 <!--  //Cambia letra primera mayuscula y las demas en minuscula  -->
  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{ fullname | titlecase}}
    </p-card>
  </div>

  <!--  //MUESTRA EL TITULO DE CADA FILA    -->
  <div class="col-12 md:col-6">
    <p-card header="titlecase">
      <ol>
        <li> fecha </li>
        <li> fecha | date </li>
        <li> fecha | date: 'short' </li>
        <li> fecha | date: 'long' </li>
        <li> fecha | date: 'MMMM' </li>
        <li> fecha | date: 'MMMM dd, yyyy' </li>
    
      </ol>

      <hr>

      <ol>
        <li>fecha | date: 'long': 'GMT-6' </li>
        <li>fecha | date: 'long': 'GMT-4' </li>
      </ol>
    </p-card>
  </div>

   <!--  MUESTRA LA FECHA CON DIFERENTES PIPES    -->
   <div class="col-12 md:col-6">
    <p-card header="titlecase">
      <ol>
        <li> {{ customDate}}</li>
        <li>{{ customDate | date}}</li>
        <li>{{ customDate | date: 'short'}}</li>
        <li>{{ customDate | date: 'long'}}</li>
        <li>{{ customDate | date: 'MMMM '}}</li>
        <li>{{ customDate | date: 'MMMM dd, yyyy'}}</li>
      </ol>

      <hr>

      <ol>
        <li>{{ customDate | date: 'long': 'GMT-6'}}</li>
        <li>{{ customDate | date: 'long': 'GMT-4'}}</li>
        
      </ol>

    </p-card>
  </div>

</div>